body
{
width: 100%;
margin: 0 auto;
margin-left: 1%;
margin-top: 2%;
justify-content: center;
background-color: rgb(186, 214, 238);


}

label{
width: 80px;
display: inline-block;



}

input, textarea { 
width: 10%;    
padding: 5px; 
margin-bottom: 1em;
font:1em sans-serif;
margin-left: 2%;
}

select{
    width: 16%;    
    padding: 5px; 
    margin-bottom: 1em;
    font:1em sans-serif;
    margin-left: 2%;
    border-radius: 3px;
    background-color: white;



}

fieldset {
border:0;
}

.campo label {

    margin: bottom 0.2em;
    display: block;
}

fieldset.grupo {

    float: left;
    margin-right: 1em;

}

.campo input[tapy="texte"], .campo textearea{
    padding: 0.2em;
    border:1px solid steelblue;
    display: block;
}
.campo inpult :focus .campo textarea:focus{
background-color: white;

} 

input{
    width: 200px;

}

label{
width: 120px;
}

#botao{
margin-left: 150px;
width: 16%;    
padding: 5px; 
margin-bottom: 1em;
font:1em sans-serif;
border-radius: 2px;
background-color: rgb(119, 250, 137);

   

}











 



